<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f3f15634-f950-4925-8c07-36856214b616/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/ProjectManagementTrackerAPI</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEA</ResourceGroup>
    <ApiResourceId>/subscriptions/f3f15634-f950-4925-8c07-36856214b616/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.ApiManagement/service/ProjectManagementTrackerAPIapi/apis/ProjectManagementTrackerAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectmanagementtrackerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ba1f9cec-ee65-4042-967a-a9cc56541479</ProjectGuid>
    <MSDeployServiceURL>projectmanagementtrackerapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProjectManagementTrackerAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ProjectManagementTrackerAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>